{% extends 'main.html' %} {% block title %} SignUp {% endblock title %} 
{% block body %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Warning:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endfor %}
<div class="mb-3 my-4 container">
<form action="/" method="POST">{% csrf_token %}
  <div class="container mb-4">
    <label class="form-label" for="mail">Email Address</label>
    <input
      type="email"
      class="form-control container"
      name="email"
      id="email"
    />
    <div id="emailHelp" class="form-text container">
      We'll never share your email with anyone else.
    </div>
  </div>
  <div class="mb-4 container">
    <label class="form-label">Username</label>
    <input type="text" class="form-control container" id="username" name="username" />
  </div>
  <div class="mb-2 container">
    <label class="form-label">Password</label>
    <input type="password" class="form-control container" id="password" name="password" />
  </div>
    <div class="mb-2 container">
    <label class="form-label">Confirm Password</label>
    <input type="password" class="form-control container" id="cpassword" name="cpassword" />
  </div>
  <div class="container bg-gradient mb-4">
  <a href="/login">Already signed up? Login Here</a>
</div>
  <div class="mb-4 container">
  <button type="submit" class="btn btn-info bg-gradient" value="POST">SignUp</button>
  <a href="/"class="btn btn-danger bg-gradient mx-2">Cancel</a>
</div>
</form>
</div>
{% endblock %}