{% extends "main.html" %}


{% block title %}
    WELCOME
{% endblock title %}


{% block body %}
<div class="container-fluid mb-3 my-5"> 
<main class="container my-4">
    <div class="bg-light p-5 rounded">
      <h1>Livestock Ownership Management</h1>
      <p class="lead">This is a database for livestock ownership management which has a simple UI and is farmer friendly.</p>
      <a class="btn btn-lg btn-success bg-gradient" href="login" role="button">Login &raquo;</a>
      <a class="btn btn-lg btn-info bg-gradient" href="signup" role="button">Signup &raquo;</a>
    </div>
  </main>
</div>
{% endblock body %}